---
import { ModeToggle } from "@/components/common/ModeToggle";
import { Button } from "@/components/ui/button";
import Layout from "../layouts/Layout.astro";

interface Props {
  title?: string;
  pageTitle?: string;
}

const { title, pageTitle = "Smart Recipe Mate" } = Astro.props;
---

<Layout title={pageTitle}>
  <div class="bg-background flex flex-col">
    <header class="border-b border-border">
      <div class="max-w-7xl mx-auto px-6 py-4 flex justify-between items-center">
        <a href="/" class="flex items-center gap-4">
          <img src="/favicon.png" alt="Smart Recipe Mate logo" class="w-8 h-8" />
          <h1 class="text-2xl font-bold">Smart Recipe Mate</h1>
        </a>

        <div class="flex items-center gap-4">
          <ModeToggle client:idle />
          <Button variant="outline">
            <a href="/login">Zaloguj się</a>
          </Button>
        </div>
      </div>
    </header>

    <main class="flex-1">
      {
        title && (
          <div class="flex items-center justify-center p-6">
            <div class="w-full max-w-md space-y-6">
              <div class="text-center space-y-2 mt-6">
                <p class="text-xl text-muted-foreground">{title}</p>
              </div>
              <slot />
            </div>
          </div>
        )
      }
      {!title && <slot />}
    </main>
  </div>
</Layout>
